{% extends "layout.html" %} {% block content %}


<section>
  <h3 class="text-center border-bottom">Events to be Approved.</h3>
  <div class="container mt-5">
    <div class="row">
      {% for event in event_value %} {% if event.is_verified == False %}
       <div class="col-lg-3 col-md-6 mb-5">
        <a href="{{ url_for('events.event_approve', event_id=event.id) }}" class="card">
          <img
            src="{{url_for('static', filename='banner_pics/' + event.banner)}}"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h2 class="card__title">{{ event.name }}</h2>
                <span class="card__status"
                  >{{ event.posted.strftime("%b %d") }}
                </span>
              </div>
            </div>
            <p class="card__des">{{ event.description | truncate(70) }}...</p>
            <p class="card__description" style="font-size: 0.8em">
              - {{ event.author.username }}
            </p>
          </div>
        </a>
      </div>

      {% endif %} {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
