{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Confirm Event</legend>
            <div class="form-group mb-3">
                {{ form.eventId.label(class="form-control-label mb-3") }}
                {% if form.eventId.errors %}
                {{ form.eventId(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback mb-3">
                    {% for error in form.eventId.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.eventId(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}