{% extends "layout.html" %}
{% block content %}

    <!-- Cards, looped using for -->
    <section>
        <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://assets-global.website-files.com/5ae98eec19474e9f8c0cd052/5ae98eec19474e48570cd278_coveredited.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{ event.name }} <small class="text-muted"> {{ event.posted.strftime('%m-%d') }} </small></h5>
                      <p class="card-text">{{ event.description }}</p>
                      {% if event.author == current_user %}
                      <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_event', event_id=event.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
                      </div>
                    {% endif %}
                    </div>
                  </div>
            </div>
            
            
           

        </div>
        </div>



    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Do you want to delete the Event?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_event', event_id=event.id) }}" method="POST">
                  <input type="submit" class="btn btn-danger" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
    
{% endblock content %}


