{% extends "layout.html" %}
{% block content %}

    <!-- Cards, looped using for -->
    <section>
        <div class="container mt-5">
        <div class="row">
            {% for event in event_value.items %}
            <div class="col-md-3 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="{{url_for('static', filename='banner_pics/' + event.banner)}}" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{ event.name }} <small class="text-muted"> {{ event.posted.strftime('%m-%d') }} </small></h5>
                      <p class="card-text mb-2">{{ event.description }}</p>
                      <div class="mb-2"><a class="text-decoration-none " href="{{ url_for('user_events', username=event.author.username) }}">{{ event.author.username }}</a></div>
                      
                      <a href="{{ url_for('event', event_id=event.id) }}" class="btn btn-primary">Event Details</a>
                      
                    </div>
                  </div>
            </div>
            
            
            {% endfor %}


        </div>
        </div>



    </section>

    {% for page_num in event_value.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if event_value.page == page_num %}
          <a class="btn btn-dark mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-dark mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    
{% endblock content %}


