{% extends "layout.html" %} {% block content %}

<h3 class="text-center border-bottom">Events Posted by You</h3>

<!-- Cards, looped using for -->
<section>
  <div class="container mt-5">
    <div class="row">
      {% if events.items %} {% for event in events.items %}
      <div class="col-lg-3 col-md-6 mb-5">
        <a href="{{ url_for('events.event', event_id=event.id) }}" class="card">
          <img
            src="{{url_for('static', filename='banner_pics/' + event.banner)}}"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h2 class="card__title">{{ event.name }}</h2>
                <span class="card__status"
                  >{{ event.posted.strftime("%b %d") }}
                </span>
              </div>
            </div>
            <p class="card__des">{{ event.description | truncate(70) }}...</p>
            <p class="card__description" style="font-size: 0.8em">
              - {{ event.author.username }}
            </p>
          </div>
        </a>
      </div>

      {% endfor %} {% else %}
      <div>You have not posted any Events.</div>
      {% endif %}
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</section>

{% for page_num in events.iter_pages(left_edge=1, right_edge=1, left_current=1,
right_current=2) %} {% if page_num %} {% if events.page == page_num %}
<a
  class="btn btn-dark mb-4"
  href="{{ url_for('users.user_events', username =user.username, page=page_num) }}"
  >{{ page_num }}</a
>
{% else %}
<a
  class="btn btn-outline-dark mb-4"
  href="{{ url_for('users.user_events', username =user.username, page=page_num) }}"
  >{{ page_num }}</a
>
{% endif %} {% else %} ... {% endif %} {% endfor %} {% endblock content %}
