{% extends "layout.html" %}
{% block content %}

    <!-- Cards, looped using for -->
    <section>
        <div class="container mt-5">
        <div class="row">
            {% for event in event_value %}
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="{{ event.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{ event.event_title }}</h5>
                      <p class="card-text">{{ event.content }}</p>
                      <a href="#" class="btn btn-primary">Take to link</a>
                    </div>
                  </div>
            </div>
            
            {% endfor %}


        </div>
        </div>



    </section>
    
{% endblock content %}


